* {
  margin: auto 0;
}
.App {
  text-align: center;
  color: white;
}
.main-container {
  display: flex;
  flex-wrap: wrap;
}
header {
  background-color: #282c34;
}

.starship-card {
  background-color: #2f4f4f;
  padding: 40px;
  margin: 20px;
  width: 15%;
  border-radius: 3px;
}